Repository PaddlePaddle/Paddle3D: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, flake8, clang-format-with-version-check

yapf:
  name: yapf
  entry: yapf --style .style.yapf -i
  language: system

flake8:
  name: flake8
  entry: flake8 --count --select=E9,F63,F7,F82 --show-source --statistics
  language: system

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat
  entry: bash .clang_format.hook  -style=Google -i
  language: system

Create test
  contrib/PaddleRendering/pprndr/cpp_extensions/test
Due: none

Delete undistGPU.cu
  contrib/PaddleRendering/pprndr/cpp_extensions/undistGPU.cu
Due: clang-format-with-version-check

Delete undistGPU.cpp
  contrib/PaddleRendering/pprndr/cpp_extensions/undistGPU.cpp
Due: clang-format-with-version-check

Delete setup.py
  contrib/PaddleRendering/pprndr/cpp_extensions/setup.py
Due: yapf, flake8

Create setup.py
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/setup.py
Due: yapf, flake8

Create test.py
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/test.py
Due: yapf, flake8

Delete test
  contrib/PaddleRendering/pprndr/cpp_extensions/test
Due: none

Add files via upload
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/setup.py
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/undistGPU.cpp
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/undistGPU.cu
Due: yapf, flake8, clang-format-with-version-check

Create fafaf
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/CPU/fafaf
Due: none

Add files via upload
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/CPU/setup.py
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/CPU/undistCpu.cc
Due: yapf, flake8, clang-format-with-version-check

Delete test.py
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/test.py
Due: yapf, flake8

add rtebev infer (#338)
  configs/rtebev/rtebev_r50_nuscenes_256x704_msdepth_hybird_1f_cgbs.yml
  configs/rtebev/rtebev_r50_nuscenes_256x704_msdepth_hybird_4f_cgbs.yml
  configs/rtebev/rtebev_r50_nuscenes_256x704_msdepth_hybird_cgbs.yml
  deploy/rtebev/python/infer_mf_onnxtrt.py
  deploy/rtebev/python/infer_mf_paddletrt.py
  deploy/rtebev/python/infer_onnxtrt.py
  deploy/rtebev/python/infer_paddletrt.py
  deploy/rtebev/python/plugin_ops/CMakeLists.txt
  deploy/rtebev/python/plugin_ops/common/common_cuda_helper.hpp
  deploy/rtebev/python/plugin_ops/common/trt_plugin_base.hpp
  deploy/rtebev/python/plugin_ops/common/trt_plugin_helper.hpp
  deploy/rtebev/python/plugin_ops/common/trt_serialize.hpp
  deploy/rtebev/python/plugin_ops/cudaComputeVersion.cu
  deploy/rtebev/python/plugin_ops/install.sh
  deploy/rtebev/python/plugin_ops/plugin/bevpoolv2/trt_bev_pool.cpp
  deploy/rtebev/python/plugin_ops/plugin/bevpoolv2/trt_bev_pool.hpp
  deploy/rtebev/python/plugin_ops/plugin/bevpoolv2/trt_bev_pool_kernel.cu
  deploy/rtebev/python/plugin_ops/plugin/bevpoolv2/trt_bev_pool_kernel.hpp
  docs/models/rtebev/README.md
  paddle3d/models/detection/rtebev/rtebev.py
  paddle3d/models/transformers/bevdet_transformer.py
  paddle3d/ops/bev_pool_v2/bev_pool.cc
  paddle3d/ops/bev_pool_v2_backward/bev_pool_bkwd.cc
Due: yapf, flake8, clang-format-with-version-check

add
  configs/quant/README.md
Due: none

Create undistGPU.cpp
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/GPU/undistGPU.cpp
Due: clang-format-with-version-check

Create undistGPU.cu
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/GPU/undistGPU.cu
Due: clang-format-with-version-check

Delete undistGPU.cpp
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/GPU/undistGPU.cpp
Due: clang-format-with-version-check

Update undistGPU.cu
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/GPU/undistGPU.cu
Due: clang-format-with-version-check

Delete undistGPU.cu
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/undistGPU.cu
Due: clang-format-with-version-check

Delete undistGPU.cpp
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/undistGPU.cpp
Due: clang-format-with-version-check

Update setup.py
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/setup.py
Due: yapf, flake8

Create tets.py
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/src/tets.py
Due: yapf, flake8

Add files via upload
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/src/undist_cpu.cc
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/src/undist_gpu.cpp
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/src/undist_gpu.cu
Due: clang-format-with-version-check

Delete tets.py
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/src/tets.py
Due: yapf, flake8

Delete contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/CPU directory
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/CPU/fafaf
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/CPU/setup.py
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/CPU/undistCpu.cc
Due: yapf, flake8, clang-format-with-version-check

Delete contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/GPU directory
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/GPU/undistGPU.cpp
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/GPU/undistGPU.cu
Due: clang-format-with-version-check

fix bug for rtebev
  deploy/rtebev/python/infer_mf_onnxtrt.py
  deploy/rtebev/python/infer_mf_paddletrt.py
  deploy/rtebev/python/infer_onnxtrt.py
  deploy/rtebev/python/infer_paddletrt.py
  docs/models/rtebev/README.md
  paddle3d/models/detection/rtebev/rtebev.py
  paddle3d/models/transformers/bevdet_transformer.py
  paddle3d/ops/bev_pool_v2/bev_pool.cc
Due: yapf, flake8, clang-format-with-version-check

fix bug for rtebev
  docs/models/rtebev/README.md
Due: none

fix rtebev bug
  deploy/rtebev/python/infer_mf_onnxtrt.py
  deploy/rtebev/python/infer_mf_paddletrt.py
  deploy/rtebev/python/infer_onnxtrt.py
  deploy/rtebev/python/infer_paddletrt.py
  docs/models/rtebev/README.md
  paddle3d/models/detection/rtebev/rtebev.py
  paddle3d/models/transformers/bevdet_transformer.py
  paddle3d/ops/bev_pool_v2/bev_pool.cc
Due: yapf, flake8, clang-format-with-version-check

fix code style
  paddle3d/models/transformers/bevdet_transformer.py
Due: yapf, flake8

Add bevformer quant demo and quant readme (#339)
  configs/quant/README.md
Due: none

fix rtebev bug (#343)
  deploy/rtebev/python/infer_mf_onnxtrt.py
  deploy/rtebev/python/infer_mf_paddletrt.py
  deploy/rtebev/python/infer_onnxtrt.py
  deploy/rtebev/python/infer_paddletrt.py
  docs/models/rtebev/README.md
  paddle3d/models/detection/rtebev/rtebev.py
  paddle3d/models/transformers/bevdet_transformer.py
  paddle3d/ops/bev_pool_v2/bev_pool.cc
Due: yapf, flake8, clang-format-with-version-check

add c++ radial_n_tangential_undistort
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/setup.py
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/src/undist_cpu.cc
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/src/undist_gpu.cc
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/src/undist_gpu.cu
Due: yapf, flake8, clang-format-with-version-check

add c++ radial_n_tangential_undistort
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/setup.py
Due: yapf, flake8

Path conditions:
  yapf: any of: \.py$
  flake8: any of: \.py$
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|cuh|proto)$
