Repository PaddlePaddle/Paddle3D: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, flake8, clang-format-with-version-check

yapf:
  name: yapf
  entry: yapf --style .style.yapf -i
  language: system

flake8:
  name: flake8
  entry: flake8 --count --select=E9,F63,F7,F82 --show-source --statistics
  language: system

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat
  entry: bash .clang_format.hook  -style=Google -i
  language: system

[benchmark]fix cv2 (#407)
  requirements.txt
  test_tipc/prepare.sh
Due: none

fix_requirements
  requirements.txt
Due: none

fix_requirements (#410)
  requirements.txt
Due: none

[TIPC]update xpu and npu tipc scripts (#412)
  test_tipc/test_train_inference_python_npu.sh
  test_tipc/test_train_inference_python_xpu.sh
Due: none

[TIPC]update xpu and npu tipc scripts
  test_tipc/test_train_inference_python_npu.sh
  test_tipc/test_train_inference_python_xpu.sh
Due: none

fix typos
  test_tipc/test_train_inference_python_xpu.sh
Due: none

Update README.md
  README.md
Due: none

[Doc] add introduction of paddlex
  README.md
Due: none

[Doc] add introduction of paddlex (#415)
  README.md
Due: none

optimize the ms_deform_attention
  paddle3d/ops/ms_deform_attn/ms_deform_attn.cc
  paddle3d/ops/ms_deform_attn/ms_deform_attn.cu
  paddle3d/ops/ms_deform_attn/ms_deform_attn_cuda_kernel.h
Due: clang-format-with-version-check

optimize ms_deform_attn
  paddle3d/ops/ms_deform_attn/ms_deform_attn.cc
Due: clang-format-with-version-check

optimize_ms_deform_attention
  paddle3d/ops/ms_deform_attn/ms_deform_attn.cu
Due: clang-format-with-version-check

fix the code style
  paddle3d/ops/ms_deform_attn/ms_deform_attn.cc
  paddle3d/ops/ms_deform_attn/ms_deform_attn.cu
  paddle3d/ops/ms_deform_attn/ms_deform_attn_cuda_kernel.h
Due: clang-format-with-version-check

fix code style
  paddle3d/ops/ms_deform_attn/ms_deform_attn.cc
Due: clang-format-with-version-check

fix import fluid bug on paddlepaddle develop
  paddle3d/utils/tensor_fusion_utils.py
Due: yapf, flake8

fix import fluid bug on paddlepaddle develop (#417)
  paddle3d/utils/tensor_fusion_utils.py
Due: yapf, flake8

Update README.md (#421)
  README.md
Due: none

Update README.md
  docs/models/petr/README.md
Due: none

add max_mem_reserved for benchmark
  paddle3d/apis/trainer.py
Due: yapf, flake8

【benchmark】add max_mem_reserved for benchmark (#426)
  paddle3d/apis/trainer.py
Due: yapf, flake8

fix
  paddle3d/apis/trainer.py
Due: yapf, flake8

【benchmark】fix gpu_mem unit (#427)
  paddle3d/apis/trainer.py
Due: yapf, flake8

fix centerpoint_postprocess and smoke
  paddle3d/models/detection/smoke/smoke_coder.py
  paddle3d/ops/centerpoint_postprocess/postprocess.cu
Due: yapf, flake8, clang-format-with-version-check

fix centerpoint_postprocess and smoke (#428)
  paddle3d/models/detection/smoke/smoke_coder.py
  paddle3d/ops/centerpoint_postprocess/postprocess.cu
Due: yapf, flake8, clang-format-with-version-check

bug fix
  paddle3d/models/backbones/vovnetcp.py
Due: yapf, flake8

bug fix (#430)
  paddle3d/models/backbones/vovnetcp.py
Due: yapf, flake8

update paddlex of readme
  README.md
Due: none

update
  README.md
Due: none

update paddlex of readme (#432)
  README.md
Due: none

support ctrl print memory info
  paddle3d/apis/config.py
  paddle3d/apis/trainer.py
Due: yapf, flake8

fix print log bug
  paddle3d/apis/trainer.py
Due: yapf, flake8

Update CMakeLists.txt
  deploy/smoke/cpp/CMakeLists.txt
Due: none

fix bevfomer deploy
  deploy/bevformer/python/infer_evaluate.py
  paddle3d/models/detection/bevformer/bevformer.py
Due: yapf, flake8

fix bevfomer deploy (#447)
  deploy/bevformer/python/infer_evaluate.py
  paddle3d/models/detection/bevformer/bevformer.py
Due: yapf, flake8

Fix smoke infer bug
  deploy/smoke/cpp/infer.cpp
Due: clang-format-with-version-check

fix_benchmark (#360)
  test_tipc/configs/centerpoint/centerpoint_pillars_02voxel_nuscenes_10sweep_ampO2_ultra_train_infer_python.txt
  test_tipc/configs/centerpoint/centerpoint_pillars_02voxel_nuscenes_10sweep_fp32_ultra_train_infer_python.txt
Due: none

Path conditions:
  yapf: any of: \.py$
  flake8: any of: \.py$
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|cuh|proto)$
