Repository PaddlePaddle/Paddle3D: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, flake8, clang-format-with-version-check

yapf:
  name: yapf
  entry: yapf --style .style.yapf -i
  language: system

flake8:
  name: flake8
  entry: flake8 --count --select=E9,F63,F7,F82 --show-source --statistics
  language: system

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat
  entry: bash .clang_format.hook  -style=Google -i
  language: system

Add validate_mesh, max_eval_num
  contrib/PaddleRendering/configs/neus/llff_data.yml
  contrib/PaddleRendering/pprndr/apis/trainer.py
  contrib/PaddleRendering/pprndr/data/datasets/llff.py
  contrib/PaddleRendering/pprndr/optimizers/lr_schedulers.py
Due: yapf, flake8

update 1) evaluation code, 2) Now we can set mesh_resolution, if_world_space, bounds for generating mesh
  contrib/PaddleRendering/configs/neus/llff_data.yml
  contrib/PaddleRendering/pprndr/apis/trainer.py
  contrib/PaddleRendering/tools/evaluate.py
Due: yapf, flake8

fix benchmark data
  test_tipc/prepare.sh
Due: none

【benchmark】 fix petrv2 benchmark data (#317)
  test_tipc/prepare.sh
Due: none

update 1) evaluation code, 2) Now we can set mesh_resolution, if_world_space, bounds for generating mesh, 3) NeuS ready to go.
  contrib/PaddleRendering/configs/instant-ngp/blender_data.yml
  contrib/PaddleRendering/configs/mip_nerf/blender_data.yml
  contrib/PaddleRendering/configs/nerf/blender_data.yml
  contrib/PaddleRendering/configs/neus/llff_data.yml
  contrib/PaddleRendering/configs/plenoxels/blender_data.yml
  contrib/PaddleRendering/configs/ref_nerf/shiny_blender_data.yml
  contrib/PaddleRendering/pprndr/apis/trainer.py
  contrib/PaddleRendering/pprndr/cameras/cameras.py
  contrib/PaddleRendering/pprndr/data/datasets/blender.py
  contrib/PaddleRendering/pprndr/data/datasets/llff.py
  contrib/PaddleRendering/pprndr/models/ray_samplers/spaced_samplers.py
  contrib/PaddleRendering/tools/extract_mesh.py
Due: yapf, flake8

fix code style
  contrib/PaddleRendering/pprndr/apis/trainer.py
Due: yapf, flake8

fix code style
  contrib/PaddleRendering/configs/nerf/blender_data.yml
  contrib/PaddleRendering/pprndr/apis/trainer.py
Due: yapf, flake8

[Neus] configs added
  contrib/PaddleRendering/configs/instant-ngp/blender_data.yml
  contrib/PaddleRendering/configs/mip_nerf/blender_data.yml
  contrib/PaddleRendering/configs/nerf/blender_data.yml
  contrib/PaddleRendering/configs/neus/llff_data.yml
  contrib/PaddleRendering/configs/plenoxels/blender_data.yml
  contrib/PaddleRendering/configs/ref_nerf/shiny_blender_data.yml
Due: none

[NeuS] tools added.
  contrib/PaddleRendering/tools/extract_mesh.py
  contrib/PaddleRendering/tools/train.py
Due: yapf, flake8

NeuS added.
  contrib/PaddleRendering/pprndr/apis/__init__.py
  contrib/PaddleRendering/pprndr/apis/checkpoint.py
  contrib/PaddleRendering/pprndr/apis/config.py
  contrib/PaddleRendering/pprndr/apis/manager.py
  contrib/PaddleRendering/pprndr/apis/pipeline.py
  contrib/PaddleRendering/pprndr/apis/scheduler.py
  contrib/PaddleRendering/pprndr/apis/trainer.py
  contrib/PaddleRendering/pprndr/cameras/cameras.py
  contrib/PaddleRendering/pprndr/cameras/rays.py
  contrib/PaddleRendering/pprndr/data/data_manager.py
  contrib/PaddleRendering/pprndr/data/datasets/__init__.py
  contrib/PaddleRendering/pprndr/data/datasets/blender.py
  contrib/PaddleRendering/pprndr/data/datasets/llff.py
  contrib/PaddleRendering/pprndr/models/__init__.py
  contrib/PaddleRendering/pprndr/models/encoders/__init__.py
  contrib/PaddleRendering/pprndr/models/encoders/neus_encoder.py
  contrib/PaddleRendering/pprndr/models/fields/neus_fields.py
  contrib/PaddleRendering/pprndr/models/layers/mlps.py
  contrib/PaddleRendering/pprndr/models/neus/__init__.py
  contrib/PaddleRendering/pprndr/models/neus/neus.py
  contrib/PaddleRendering/pprndr/models/ray_generators.py
  contrib/PaddleRendering/pprndr/models/ray_samplers/pdf_samplers.py
  contrib/PaddleRendering/pprndr/models/ray_samplers/spaced_samplers.py
  contrib/PaddleRendering/pprndr/optimizers/lr_schedulers.py
  contrib/PaddleRendering/pprndr/ray_marching.py
Due: yapf, flake8

Fix some typos. (#314)
  configs/smoke/smoke_dla34_no_dcn_kitti.yml
  configs/smoke/smoke_dla34_no_dcn_kitti_amp.yml
  configs/smoke/smoke_hrnet18_no_dcn_kitti.yml
  configs/smoke/smoke_hrnet18_no_dcn_kitti_mini.yml
  contrib/PaddleRendering/docs/configuration.md
  deploy/caddn/cpp/main.cc
  deploy/centerpoint/cpp/main.cc
  deploy/petr/cpp/main.cc
  deploy/pointpillars/cpp/main.cc
  deploy/pv_rcnn/cpp/custom_ops/pointnet2/group_points_gpu.cu
  deploy/pv_rcnn/cpp/main.cc
  deploy/voxel_rcnn/cpp/custom_ops/pointnet2/group_points_gpu.cu
  deploy/voxel_rcnn/cpp/main.cc
  docs/configuration.md
  docs/models/paconv/README.md
  paddle3d/geometries/pointcloud.py
  paddle3d/models/backbones/resnet.py
  paddle3d/models/common/pointnet2_stack/pointnet2_modules.py
  paddle3d/models/common/pointnet2_stack/voxel_pool_modules.py
  paddle3d/models/common/pointnet2_stack/voxel_query_utils.py
  paddle3d/models/detection/bevformer/bevformer_head.py
  paddle3d/models/detection/smoke/smoke_predictor.py
  paddle3d/models/heads/dense_heads/cape_dn_head.py
  paddle3d/models/heads/dense_heads/petr_head.py
  paddle3d/ops/pointnet2/pointnet2_stack/group_points_gpu_stack.cu
  paddle3d/utils/depth.py
Due: yapf, flake8, clang-format-with-version-check

add bevformer infer (#306)
  deploy/bevformer/python/infer_evaluate.py
  docs/models/bevformer/README.md
  paddle3d/models/transformers/transformer.py
Due: yapf, flake8

fix pointpillars eval bug
  paddle3d/apis/trainer.py
Due: yapf, flake8

Updated the code following the reviews.
  contrib/PaddleRendering/configs/instant-ngp/blender_data.yml
  contrib/PaddleRendering/configs/mip_nerf/blender_data.yml
  contrib/PaddleRendering/configs/nerf/blender_data.yml
  contrib/PaddleRendering/configs/neus/llff_data.yml
  contrib/PaddleRendering/configs/plenoxels/blender_data.yml
  contrib/PaddleRendering/configs/ref_nerf/shiny_blender_data.yml
  contrib/PaddleRendering/pprndr/apis/__init__.py
  contrib/PaddleRendering/pprndr/apis/checkpoint.py
  contrib/PaddleRendering/pprndr/apis/config.py
  contrib/PaddleRendering/pprndr/apis/pipeline.py
  contrib/PaddleRendering/pprndr/apis/trainer.py
  contrib/PaddleRendering/pprndr/cameras/cameras.py
  contrib/PaddleRendering/pprndr/data/data_manager.py
  contrib/PaddleRendering/pprndr/data/datasets/llff.py
  contrib/PaddleRendering/pprndr/models/encoders/neus_encoder.py
  contrib/PaddleRendering/pprndr/models/fields/neus_fields.py
  contrib/PaddleRendering/pprndr/models/layers/mlps.py
  contrib/PaddleRendering/pprndr/models/neus/neus.py
  contrib/PaddleRendering/pprndr/models/ray_generators.py
  contrib/PaddleRendering/pprndr/ray_marching.py
  contrib/PaddleRendering/tools/evaluate.py
Due: yapf, flake8

Updated code following the code review
  contrib/PaddleRendering/configs/neus/llff_data.yml
  contrib/PaddleRendering/pprndr/apis/pipeline.py
  contrib/PaddleRendering/pprndr/apis/trainer.py
  contrib/PaddleRendering/pprndr/cameras/cameras.py
  contrib/PaddleRendering/pprndr/data/datasets/llff.py
  contrib/PaddleRendering/pprndr/models/fields/nerf_field.py
  contrib/PaddleRendering/pprndr/models/fields/neus_fields.py
  contrib/PaddleRendering/pprndr/models/layers/mlps.py
  contrib/PaddleRendering/pprndr/models/neus/neus.py
  contrib/PaddleRendering/tools/evaluate.py
Due: yapf, flake8

if not... -> if ... not; Some comments are removed; print -> logger.info
  contrib/PaddleRendering/pprndr/apis/config.py
  contrib/PaddleRendering/pprndr/apis/manager.py
  contrib/PaddleRendering/pprndr/apis/pipeline.py
  contrib/PaddleRendering/pprndr/apis/scheduler.py
  contrib/PaddleRendering/pprndr/apis/trainer.py
  contrib/PaddleRendering/pprndr/cameras/rays.py
  contrib/PaddleRendering/pprndr/data/datasets/llff.py
  contrib/PaddleRendering/pprndr/models/encoders/neus_encoder.py
  contrib/PaddleRendering/pprndr/models/fields/neus_fields.py
  contrib/PaddleRendering/pprndr/models/layers/mlps.py
  contrib/PaddleRendering/pprndr/models/neus/neus.py
  contrib/PaddleRendering/pprndr/ray_marching.py
  contrib/PaddleRendering/tools/extract_mesh.py
Due: yapf, flake8

Code update. Done.
  contrib/PaddleRendering/configs/nerf/blender_data.yml
  contrib/PaddleRendering/configs/neus/llff_data.yml
  contrib/PaddleRendering/pprndr/cameras/cameras.py
  contrib/PaddleRendering/pprndr/data/datasets/llff.py
  contrib/PaddleRendering/pprndr/models/layers/mlps.py
Due: yapf, flake8

Fix a bug in config
  contrib/PaddleRendering/configs/nerf/blender_data.yml
Due: none

[feature] Add TensoRF to PaddleRendering
  contrib/PaddleRendering/configs/tensorf/blender_data_vm.yml
  contrib/PaddleRendering/configs/tensorf/blender_data_vm_sh.yml
  contrib/PaddleRendering/docs/models/tensorf/README.md
  contrib/PaddleRendering/docs/models/tensorf/README_EN.md
  contrib/PaddleRendering/pprndr/apis/config.py
  contrib/PaddleRendering/pprndr/apis/trainer.py
  contrib/PaddleRendering/pprndr/models/__init__.py
  contrib/PaddleRendering/pprndr/models/encoders/__init__.py
  contrib/PaddleRendering/pprndr/models/encoders/tensorf_encoder.py
  contrib/PaddleRendering/pprndr/models/fields/tensorf_field.py
  contrib/PaddleRendering/pprndr/models/layers/grids.py
  contrib/PaddleRendering/pprndr/models/tensorf/__init__.py
  contrib/PaddleRendering/pprndr/models/tensorf/tensorf.py
  contrib/PaddleRendering/pprndr/optimizers/lr_schedulers.py
  deploy/bevformer/python/infer_evaluate.py
  docs/models/bevformer/README.md
  paddle3d/models/transformers/transformer.py
Due: yapf, flake8

[feature] Add TensoRF to PaddleRendering (#321)
  contrib/PaddleRendering/configs/tensorf/blender_data_vm.yml
  contrib/PaddleRendering/configs/tensorf/blender_data_vm_sh.yml
  contrib/PaddleRendering/docs/models/tensorf/README.md
  contrib/PaddleRendering/docs/models/tensorf/README_EN.md
  contrib/PaddleRendering/pprndr/apis/config.py
  contrib/PaddleRendering/pprndr/apis/trainer.py
  contrib/PaddleRendering/pprndr/models/__init__.py
  contrib/PaddleRendering/pprndr/models/encoders/__init__.py
  contrib/PaddleRendering/pprndr/models/encoders/tensorf_encoder.py
  contrib/PaddleRendering/pprndr/models/fields/tensorf_field.py
  contrib/PaddleRendering/pprndr/models/layers/grids.py
  contrib/PaddleRendering/pprndr/models/tensorf/__init__.py
  contrib/PaddleRendering/pprndr/models/tensorf/tensorf.py
  contrib/PaddleRendering/pprndr/optimizers/lr_schedulers.py
Due: yapf, flake8

eval_pixel_stride > 1 checked for all six models
  contrib/PaddleRendering/configs/instant-ngp/blender_data.yml
  contrib/PaddleRendering/configs/mip_nerf/blender_data.yml
  contrib/PaddleRendering/configs/nerf/blender_data.yml
  contrib/PaddleRendering/configs/plenoxels/blender_data.yml
  contrib/PaddleRendering/pprndr/data/datasets/blender.py
Due: yapf, flake8

Code updated following the 2nd code reviews
  contrib/PaddleRendering/configs/instant-ngp/blender_data.yml
  contrib/PaddleRendering/configs/mip_nerf/blender_data.yml
  contrib/PaddleRendering/configs/nerf/blender_data.yml
  contrib/PaddleRendering/configs/plenoxels/blender_data.yml
  contrib/PaddleRendering/configs/ref_nerf/shiny_blender_data.yml
  contrib/PaddleRendering/pprndr/apis/trainer.py
  contrib/PaddleRendering/pprndr/cameras/cameras.py
  contrib/PaddleRendering/pprndr/cameras/rays.py
  contrib/PaddleRendering/pprndr/data/datasets/blender.py
  contrib/PaddleRendering/pprndr/data/datasets/llff.py
  contrib/PaddleRendering/pprndr/models/encoders/neus_encoder.py
  contrib/PaddleRendering/pprndr/models/fields/neus_fields.py
  contrib/PaddleRendering/pprndr/models/layers/mlps.py
  contrib/PaddleRendering/pprndr/models/neus/__init__.py
  contrib/PaddleRendering/tools/evaluate.py
  contrib/PaddleRendering/tools/extract_mesh.py
  contrib/PaddleRendering/tools/train.py
Due: yapf, flake8

config files updated; nears / fars are removed from rays, spaced_sampler is then revised.
  contrib/PaddleRendering/configs/instant-ngp/blender_data.yml
  contrib/PaddleRendering/configs/mip_nerf/blender_data.yml
  contrib/PaddleRendering/configs/nerf/blender_data.yml
  contrib/PaddleRendering/configs/neus/llff_data.yml
  contrib/PaddleRendering/configs/plenoxels/blender_data.yml
  contrib/PaddleRendering/configs/ref_nerf/shiny_blender_data.yml
  contrib/PaddleRendering/pprndr/cameras/rays.py
  contrib/PaddleRendering/pprndr/models/ray_samplers/spaced_samplers.py
Due: yapf, flake8

fixed a code style issue in neus/llff
  contrib/PaddleRendering/configs/neus/llff_data.yml
Due: none

Fixed a few bugs for removing nears and fars
  contrib/PaddleRendering/pprndr/models/neus/neus.py
  contrib/PaddleRendering/pprndr/models/ray_samplers/spaced_samplers.py
Due: yapf, flake8

Update README.md
  contrib/PaddleRendering/docs/models/tensorf/README.md
Due: none

Update README_EN.md
  contrib/PaddleRendering/docs/models/tensorf/README_EN.md
Due: none

revert eval_pixel_stride
  contrib/PaddleRendering/configs/instant-ngp/blender_data.yml
  contrib/PaddleRendering/configs/mip_nerf/blender_data.yml
  contrib/PaddleRendering/configs/nerf/blender_data.yml
  contrib/PaddleRendering/configs/neus/llff_data.yml
  contrib/PaddleRendering/configs/plenoxels/blender_data.yml
  contrib/PaddleRendering/configs/ref_nerf/shiny_blender_data.yml
Due: none

remove max_eval_num from mip_nerf/configs/ for the sake of clarity
  contrib/PaddleRendering/configs/mip_nerf/blender_data.yml
Due: none

NeuS added. (#319)
  contrib/PaddleRendering/configs/instant-ngp/blender_data.yml
  contrib/PaddleRendering/configs/mip_nerf/blender_data.yml
  contrib/PaddleRendering/configs/nerf/blender_data.yml
  contrib/PaddleRendering/configs/neus/llff_data.yml
  contrib/PaddleRendering/configs/plenoxels/blender_data.yml
  contrib/PaddleRendering/configs/ref_nerf/shiny_blender_data.yml
  contrib/PaddleRendering/pprndr/apis/config.py
  contrib/PaddleRendering/pprndr/apis/pipeline.py
  contrib/PaddleRendering/pprndr/apis/trainer.py
  contrib/PaddleRendering/pprndr/cameras/cameras.py
  contrib/PaddleRendering/pprndr/cameras/rays.py
  contrib/PaddleRendering/pprndr/data/data_manager.py
  contrib/PaddleRendering/pprndr/data/datasets/__init__.py
  contrib/PaddleRendering/pprndr/data/datasets/blender.py
  contrib/PaddleRendering/pprndr/data/datasets/llff.py
  contrib/PaddleRendering/pprndr/models/__init__.py
  contrib/PaddleRendering/pprndr/models/encoders/neus_encoder.py
  contrib/PaddleRendering/pprndr/models/fields/__init__.py
  contrib/PaddleRendering/pprndr/models/fields/nerf_field.py
  contrib/PaddleRendering/pprndr/models/fields/neus_fields.py
  contrib/PaddleRendering/pprndr/models/layers/mlps.py
  contrib/PaddleRendering/pprndr/models/neus/__init__.py
  contrib/PaddleRendering/pprndr/models/neus/neus.py
  contrib/PaddleRendering/pprndr/models/ray_generators.py
  contrib/PaddleRendering/pprndr/models/ray_samplers/pdf_samplers.py
  contrib/PaddleRendering/pprndr/models/ray_samplers/spaced_samplers.py
  contrib/PaddleRendering/pprndr/optimizers/lr_schedulers.py
  contrib/PaddleRendering/pprndr/ray_marching.py
  contrib/PaddleRendering/tools/extract_mesh.py
  contrib/PaddleRendering/tools/train.py
Due: yapf, flake8

ray_samples from volumetric sampler supports bin_points method
  contrib/PaddleRendering/pprndr/cameras/rays.py
  contrib/PaddleRendering/pprndr/models/neus/neus.py
  contrib/PaddleRendering/pprndr/ray_marching.py
  contrib/PaddleRendering/requirements.txt
Due: yapf, flake8

code cleanup
  contrib/PaddleRendering/configs/neus/llff_data.yml
  contrib/PaddleRendering/pprndr/apis/manager.py
  contrib/PaddleRendering/pprndr/models/layers/__init__.py
  contrib/PaddleRendering/pprndr/models/layers/mlps.py
  contrib/PaddleRendering/pprndr/models/layers/weight_initializers.py
Due: yapf, flake8

update requirements
  contrib/PaddleRendering/requirements.txt
Due: none

code cleanup
  contrib/PaddleRendering/pprndr/models/neus/neus.py
Due: yapf, flake8

add bevdet implementation (#288)
  configs/bevdet/bevdet4d_r50_depth_nuscenes.yml
  docs/models/bevdet/README.md
  paddle3d/apis/checkpoint.py
  paddle3d/apis/config.py
  paddle3d/apis/trainer.py
  paddle3d/datasets/nuscenes/__init__.py
  paddle3d/datasets/nuscenes/bevdet_custom_3d.py
  paddle3d/datasets/nuscenes/bevdet_nuscene_metrics.py
  paddle3d/datasets/nuscenes/bevdet_nuscenes_dataset.py
  paddle3d/datasets/nuscenes/dataset_wrapper.py
  paddle3d/models/backbones/__init__.py
  paddle3d/models/backbones/custom_resnet.py
  paddle3d/models/detection/__init__.py
  paddle3d/models/detection/bevdet/__init__.py
  paddle3d/models/detection/bevdet/bevdet4d.py
  paddle3d/models/heads/dense_heads/__init__.py
  paddle3d/models/heads/dense_heads/bevdet_centerhead.py
  paddle3d/models/layers/param_init.py
  paddle3d/models/losses/__init__.py
  paddle3d/models/losses/focal_loss.py
  paddle3d/models/necks/__init__.py
  paddle3d/models/necks/custom_fpn.py
  paddle3d/models/necks/lss_fpn.py
  paddle3d/models/transformers/__init__.py
  paddle3d/models/transformers/bevdet_transformer.py
  paddle3d/ops/__init__.py
  paddle3d/ops/bev_pool_v2/bev_pool.cc
  paddle3d/ops/bev_pool_v2/bev_pool_cuda.cu
  paddle3d/ops/bev_pool_v2_backward/bev_pool_bkwd.cc
  paddle3d/ops/bev_pool_v2_backward/bev_pool_cuda_bkwd.cu
  paddle3d/transforms/__init__.py
  paddle3d/transforms/base.py
  paddle3d/transforms/bevdet_reader.py
  paddle3d/utils/__init__.py
  paddle3d/utils/ema.py
Due: yapf, flake8, clang-format-with-version-check

add bevformer qat
  configs/quant/bevformer_nuscenes.yml
  configs/quant/bevformer_pact_nuscenes.yml
  paddle3d/models/detection/bevformer/bevformer.py
Due: yapf, flake8

reorganize code
  contrib/PaddleRendering/configs/neus/llff_data.yml
  contrib/PaddleRendering/pprndr/apis/config.py
  contrib/PaddleRendering/pprndr/apis/pipeline.py
  contrib/PaddleRendering/pprndr/apis/trainer.py
  contrib/PaddleRendering/pprndr/cameras/rays.py
  contrib/PaddleRendering/pprndr/data/datasets/blender.py
  contrib/PaddleRendering/pprndr/data/datasets/llff.py
  contrib/PaddleRendering/pprndr/models/fields/__init__.py
  contrib/PaddleRendering/pprndr/models/fields/base.py
  contrib/PaddleRendering/pprndr/models/fields/instant_ngp_field.py
  contrib/PaddleRendering/pprndr/models/fields/nerf_field.py
  contrib/PaddleRendering/pprndr/models/fields/neus_fields.py
  contrib/PaddleRendering/pprndr/models/fields/plenoxels_field.py
  contrib/PaddleRendering/pprndr/models/fields/ref_nerf_field.py
  contrib/PaddleRendering/pprndr/models/fields/tensorf_field.py
  contrib/PaddleRendering/pprndr/models/instant_ngp/instant_ngp.py
  contrib/PaddleRendering/pprndr/models/mip_nerf/mip_nerf.py
  contrib/PaddleRendering/pprndr/models/nerf/nerf.py
  contrib/PaddleRendering/pprndr/models/neus/neus.py
  contrib/PaddleRendering/pprndr/models/plenoxels/plenoxels.py
  contrib/PaddleRendering/pprndr/models/ray_samplers/spaced_samplers.py
  contrib/PaddleRendering/pprndr/models/ref_nerf/ref_nerf.py
  contrib/PaddleRendering/pprndr/ray_marching.py
  contrib/PaddleRendering/tools/evaluate.py
Due: yapf, flake8

Path conditions:
  yapf: any of: \.py$
  flake8: any of: \.py$
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|cuh|proto)$
