Repository PaddlePaddle/Paddle3D: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, flake8, clang-format-with-version-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: yapf
        name: yapf
        entry: yapf --style .style.yapf -i
        language: system
        files: \.py$

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: a11d9314b22d8f8c7556443875b731ef05965464
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: detect-private-key
    -   id: check-added-large-files

-   repo: local
    hooks:
    -   id: flake8
        name: flake8
        entry: flake8 --count --select=E9,F63,F7,F82 --show-source --statistics
        language: system
        files: \.py$

-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat
        entry: bash .clang_format.hook  -style=Google -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|cuh|proto)$

update readme
  contrib/PaddleRendering/README.md
Due: none

【benchmark】fix petrv2 prepare (#289)
  test_tipc/configs/centerpoint/train_infer_python.txt
  test_tipc/configs/petrv2/train_infer_python.txt
  test_tipc/prepare.sh
Due: none

add TODO
  contrib/PaddleRendering/pprndr/data/transforms/image_transforms.py
Due: yapf, flake8

modify prepare
  test_tipc/prepare.sh
Due: none

Add NeRF to PaddleRendering
  contrib/PaddleRendering/configs/nerf/blender_data.yml
  contrib/PaddleRendering/configs/nerf/blender_data_efficient.yml
  contrib/PaddleRendering/docs/models/nerf/README.md
  contrib/PaddleRendering/docs/models/nerf/README_EN.md
  contrib/PaddleRendering/pprndr/models/nerf/__init__.py
  contrib/PaddleRendering/pprndr/models/nerf/nerf.py
  contrib/PaddleRendering/pprndr/optimizers/lr_schedulers.py
Due: yapf, flake8

add iassd attention model
  docs/models/iassd/README.md
Due: none

fix a problem
  docs/models/iassd/README.md
Due: none

Add NeRF to PaddleRendering (#293)
  contrib/PaddleRendering/configs/nerf/blender_data.yml
  contrib/PaddleRendering/configs/nerf/blender_data_efficient.yml
  contrib/PaddleRendering/docs/models/nerf/README.md
  contrib/PaddleRendering/docs/models/nerf/README_EN.md
  contrib/PaddleRendering/pprndr/models/nerf/__init__.py
  contrib/PaddleRendering/pprndr/models/nerf/nerf.py
  contrib/PaddleRendering/pprndr/optimizers/lr_schedulers.py
Due: yapf, flake8

Update weights' link.
  contrib/PaddleRendering/docs/models/nerf/README.md
Due: none

Fix PV-RCNN infer bug
  deploy/pv_rcnn/python/infer.py
Due: yapf, flake8

Fix Voxel R-CNN infer bug
  deploy/voxel_rcnn/python/infer.py
Due: yapf, flake8

fix the bug where convert bn to sync_bn in the model for evaluation during the training phase will change the training model graph
  paddle3d/apis/trainer.py
Due: yapf, flake8

reset do_bind default value to False because it will close the terminate unexpectedlly when users break off the training process
  paddle3d/apis/trainer.py
Due: yapf, flake8

fix trainer (#268)
  paddle3d/apis/trainer.py
Due: yapf, flake8

[Benchmark] add pointpillars for paddle3D benchmark
  configs/pointpillars/pointpillars_xyres16_kitti_car.yml
  paddle3d/datasets/generate_gt_database.py
  test_tipc/benchmark_train.sh
  test_tipc/pointpillars/train_infer_python.txt
  test_tipc/prepare.sh
Due: yapf, flake8

[Fix] fix a bug
  test_tipc/configs/pointpillars/train_infer_python.txt
Due: none

Add model link for bevfusion
  docs/models/bevfusion/README.md
Due: none

add init weights
  paddle3d/apis/trainer.py
  paddle3d/models/backbones/custom_resnet.py
  paddle3d/models/detection/bevdet/bevdet4d.py
  paddle3d/models/layers/param_init.py
  paddle3d/models/necks/custom_fpn.py
  paddle3d/models/necks/lss_fpn.py
  paddle3d/models/transformers/bevdet_transformer.py
Due: yapf, flake8

fix bug
  test_tipc/prepare.sh
Due: none

acclerate package download
  test_tipc/prepare.sh
Due: none

fix anno path
  configs/bevdet/bevdet4d_r50_depth_nuscenes.yml
  configs/bevdet/bevdet4d_r50_depth_nuscenes_cbgs.yml
Due: none

reformat code
  paddle3d/apis/checkpoint.py
  paddle3d/datasets/nuscenes/bevdet_custom_3d.py
  paddle3d/datasets/nuscenes/bevdet_nuscene_metrics.py
  paddle3d/datasets/nuscenes/bevdet_nuscenes_dataset.py
  paddle3d/datasets/nuscenes/dataset_wrapper.py
  paddle3d/models/backbones/custom_resnet.py
  paddle3d/models/heads/dense_heads/bevdet_centerhead.py
  paddle3d/models/losses/focal_loss.py
  paddle3d/models/necks/lss_fpn.py
  paddle3d/transforms/base.py
  paddle3d/transforms/bevdet_reader.py
  paddle3d/utils/ema.py
  tools/create_bevdet_nus_info.py
Due: yapf, flake8

fix format
  paddle3d/ops/__init__.py
Due: yapf, flake8

add iassd attention model (#299)
  docs/models/iassd/README.md
Due: none

add bev infer
  deploy/bevformer/python/infer_evaluate.py
  docs/models/bevformer/README.md
  paddle3d/models/transformers/transformer.py
Due: yapf, flake8

add bevformer infer
  deploy/bevformer/python/infer_evaluate.py
  docs/models/bevformer/README.md
  paddle3d/models/transformers/transformer.py
Due: yapf, flake8

Optimize the error message when the custom operator module fails to get attributes
  paddle3d/ops/__init__.py
Due: yapf, flake8

fix bevdet init and add bevdet documents
  configs/bevdet/bevdet4d_r50_depth_nuscenes_cbgs.yml
  docs/models/bevdet/README.md
  paddle3d/apis/checkpoint.py
  paddle3d/apis/config.py
  paddle3d/apis/trainer.py
  paddle3d/models/backbones/custom_resnet.py
  paddle3d/models/detection/bevdet/bevdet4d.py
  paddle3d/models/layers/param_init.py
  paddle3d/models/necks/custom_fpn.py
  paddle3d/models/necks/lss_fpn.py
  paddle3d/models/transformers/bevdet_transformer.py
  tools/create_bevdet_nus_info.py
Due: yapf, flake8

update trainer
  paddle3d/apis/trainer.py
Due: yapf, flake8

trainer.py finished
  contrib/PaddleRendering/configs/neus/llff_data.yml
  contrib/PaddleRendering/pprndr/apis/pipeline.py
  contrib/PaddleRendering/pprndr/apis/trainer.py
  contrib/PaddleRendering/pprndr/cameras/cameras.py
  contrib/PaddleRendering/pprndr/models/neus/__init__.py
  contrib/PaddleRendering/pprndr/models/neus/neus.py
  contrib/PaddleRendering/tools/evaluate.py
  contrib/PaddleRendering/tools/train.py
Due: yapf, flake8

Fix some typos.
  configs/smoke/smoke_dla34_no_dcn_kitti.yml
  configs/smoke/smoke_dla34_no_dcn_kitti_amp.yml
  configs/smoke/smoke_hrnet18_no_dcn_kitti.yml
  configs/smoke/smoke_hrnet18_no_dcn_kitti_mini.yml
  contrib/PaddleRendering/docs/configuration.md
  deploy/caddn/cpp/main.cc
  deploy/centerpoint/cpp/main.cc
  deploy/petr/cpp/main.cc
  deploy/pointpillars/cpp/main.cc
  deploy/pv_rcnn/cpp/custom_ops/pointnet2/group_points_gpu.cu
  deploy/pv_rcnn/cpp/main.cc
  deploy/voxel_rcnn/cpp/custom_ops/pointnet2/group_points_gpu.cu
  deploy/voxel_rcnn/cpp/main.cc
  docs/configuration.md
  docs/models/paconv/README.md
  paddle3d/geometries/pointcloud.py
  paddle3d/models/backbones/resnet.py
  paddle3d/models/common/pointnet2_stack/pointnet2_modules.py
  paddle3d/models/common/pointnet2_stack/voxel_pool_modules.py
  paddle3d/models/common/pointnet2_stack/voxel_query_utils.py
  paddle3d/models/detection/bevformer/bevformer_head.py
  paddle3d/models/detection/smoke/smoke_predictor.py
  paddle3d/models/heads/dense_heads/cape_dn_head.py
  paddle3d/models/heads/dense_heads/petr_head.py
  paddle3d/ops/pointnet2/pointnet2_stack/group_points_gpu_stack.cu
  paddle3d/utils/depth.py
Due: yapf, flake8, clang-format-with-version-check

Fix Voxel R-CNN export bug
  paddle3d/models/detection/voxel_rcnn/voxel_rcnn.py
Due: yapf, flake8

Fix PV-RCNN export bug
  paddle3d/models/detection/pv_rcnn/pv_rcnn.py
Due: yapf, flake8

Add model links for BEVFusion
  docs/models/bevfusion/README.md
Due: none

v1 done.
  contrib/PaddleRendering/pprndr/apis/pipeline.py
  contrib/PaddleRendering/pprndr/cameras/cameras.py
  contrib/PaddleRendering/pprndr/cameras/rays.py
  contrib/PaddleRendering/pprndr/data/data_manager.py
  contrib/PaddleRendering/pprndr/data/datasets/__init__.py
  contrib/PaddleRendering/pprndr/data/datasets/llff.py
  contrib/PaddleRendering/pprndr/models/__init__.py
  contrib/PaddleRendering/pprndr/models/encoders/__init__.py
  contrib/PaddleRendering/pprndr/models/encoders/neus_encoder.py
  contrib/PaddleRendering/pprndr/models/fields/__init__.py
  contrib/PaddleRendering/pprndr/models/fields/neus_fields.py
  contrib/PaddleRendering/pprndr/models/layers/mlps.py
  contrib/PaddleRendering/pprndr/models/neus/neus.py
  contrib/PaddleRendering/pprndr/models/ray_generators.py
  contrib/PaddleRendering/pprndr/models/ray_samplers/pdf_samplers.py
  contrib/PaddleRendering/pprndr/models/ray_samplers/spaced_samplers.py
  contrib/PaddleRendering/pprndr/optimizers/lr_schedulers.py
  contrib/PaddleRendering/pprndr/ray_marching.py
  contrib/PaddleRendering/tools/train.py
Due: yapf, flake8
