Repository PaddlePaddle/Paddle3D: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, flake8, clang-format-with-version-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: yapf
        name: yapf
        entry: yapf --style .style.yapf -i
        language: system
        files: \.py$

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: a11d9314b22d8f8c7556443875b731ef05965464
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: detect-private-key
    -   id: check-added-large-files

-   repo: local
    hooks:
    -   id: flake8
        name: flake8
        entry: flake8 --count --select=E9,F63,F7,F82 --show-source --statistics
        language: system
        files: \.py$

-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat
        entry: bash .clang_format.hook  -style=Google -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|cuh|proto)$

fix code style
  paddle3d/datasets/nuscenes/nuscenes_multiview_det.py
  paddle3d/models/detection/petr/petr3d_seg.py
  paddle3d/models/heads/dense_heads/petr_head_seg.py
  paddle3d/models/losses/sigmoid_ce_loss.py
  paddle3d/transforms/reader.py
Due: yapf, flake8

fix to_static and amp of petrv2
  paddle3d/apis/pipeline.py
  paddle3d/models/detection/petr/petr3d.py
Due: yapf, flake8

reorganize code
  contrib/PaddleRendering/pprndr/models/fields/neus_fields.py
Due: yapf, flake8

reorganize code
  contrib/PaddleRendering/configs/neus/llff_data.yml
  contrib/PaddleRendering/pprndr/optimizers/lr_schedulers.py
Due: yapf, flake8

reorganize code
  contrib/PaddleRendering/configs/neus/llff_data.yml
  contrib/PaddleRendering/pprndr/apis/config.py
  contrib/PaddleRendering/pprndr/apis/pipeline.py
  contrib/PaddleRendering/pprndr/apis/trainer.py
  contrib/PaddleRendering/pprndr/cameras/rays.py
  contrib/PaddleRendering/pprndr/data/datasets/blender.py
  contrib/PaddleRendering/pprndr/data/datasets/llff.py
  contrib/PaddleRendering/pprndr/models/fields/__init__.py
  contrib/PaddleRendering/pprndr/models/fields/base.py
  contrib/PaddleRendering/pprndr/models/fields/instant_ngp_field.py
  contrib/PaddleRendering/pprndr/models/fields/nerf_field.py
  contrib/PaddleRendering/pprndr/models/fields/neus_fields.py
  contrib/PaddleRendering/pprndr/models/fields/plenoxels_field.py
  contrib/PaddleRendering/pprndr/models/fields/ref_nerf_field.py
  contrib/PaddleRendering/pprndr/models/fields/tensorf_field.py
  contrib/PaddleRendering/pprndr/models/instant_ngp/instant_ngp.py
  contrib/PaddleRendering/pprndr/models/mip_nerf/mip_nerf.py
  contrib/PaddleRendering/pprndr/models/nerf/nerf.py
  contrib/PaddleRendering/pprndr/models/neus/neus.py
  contrib/PaddleRendering/pprndr/models/plenoxels/plenoxels.py
  contrib/PaddleRendering/pprndr/models/ray_samplers/spaced_samplers.py
  contrib/PaddleRendering/pprndr/models/ref_nerf/ref_nerf.py
  contrib/PaddleRendering/pprndr/optimizers/lr_schedulers.py
  contrib/PaddleRendering/pprndr/ray_marching.py
  contrib/PaddleRendering/tools/evaluate.py
Due: yapf, flake8

add dataset visualization
  demo/dataset_vis.py
  demo/mono_demo.py
  demo/readme.md
Due: yapf, flake8

Add seg code for PETRv2 (#209)
  configs/petr/petrv2_BEVseg_800x320_amp.yml
  docs/models/petr/README.md
  paddle3d/datasets/__init__.py
  paddle3d/datasets/nuscenes/__init__.py
  paddle3d/datasets/nuscenes/nuscenes_metric.py
  paddle3d/datasets/nuscenes/nuscenes_multiview_det.py
  paddle3d/models/detection/petr/__init__.py
  paddle3d/models/detection/petr/petr3d_seg.py
  paddle3d/models/heads/dense_heads/__init__.py
  paddle3d/models/heads/dense_heads/petr_head_seg.py
  paddle3d/models/losses/__init__.py
  paddle3d/models/losses/sigmoid_ce_loss.py
  paddle3d/transforms/reader.py
  requirements.txt
Due: yapf, flake8

fix to_static and amp of petrv2 (#327)
  paddle3d/apis/pipeline.py
  paddle3d/models/detection/petr/petr3d.py
Due: yapf, flake8

fix_py310_bug
  paddle3d/models/voxelizers/voxelize.py
Due: yapf, flake8

add rtebev
  configs/rtebev/rtebev_r50_nuscenes_256x704_msdepth_hybird_1f_cgbs.yml
  configs/rtebev/rtebev_r50_nuscenes_256x704_msdepth_hybird_4f_cgbs.yml
  configs/rtebev/rtebev_r50_nuscenes_256x704_msdepth_hybird_8f_cgbs.yml
  configs/rtebev/rtebev_r50_nuscenes_256x704_msdepth_hybird_cgbs.yml
  paddle3d/datasets/nuscenes/bevdet_nuscenes_dataset.py
  paddle3d/models/detection/__init__.py
  paddle3d/models/detection/rtebev/__init__.py
  paddle3d/models/detection/rtebev/rtebev.py
  paddle3d/models/detection/rtebev/rtebev_head.py
  paddle3d/models/layers/layer_libs.py
  paddle3d/models/necks/custom_fpn.py
  paddle3d/models/transformers/bevdet_transformer.py
  paddle3d/models/transformers/decoder_layers.py
  paddle3d/models/transformers/encoder_layers.py
  paddle3d/models/transformers/transformer.py
Due: yapf, flake8

[WIP] Reorganize and cleanup code (#328)
  contrib/PaddleRendering/configs/neus/llff_data.yml
  contrib/PaddleRendering/pprndr/apis/config.py
  contrib/PaddleRendering/pprndr/apis/manager.py
  contrib/PaddleRendering/pprndr/apis/pipeline.py
  contrib/PaddleRendering/pprndr/apis/trainer.py
  contrib/PaddleRendering/pprndr/cameras/rays.py
  contrib/PaddleRendering/pprndr/data/datasets/blender.py
  contrib/PaddleRendering/pprndr/data/datasets/llff.py
  contrib/PaddleRendering/pprndr/models/fields/__init__.py
  contrib/PaddleRendering/pprndr/models/fields/base.py
  contrib/PaddleRendering/pprndr/models/fields/instant_ngp_field.py
  contrib/PaddleRendering/pprndr/models/fields/nerf_field.py
  contrib/PaddleRendering/pprndr/models/fields/neus_fields.py
  contrib/PaddleRendering/pprndr/models/fields/plenoxels_field.py
  contrib/PaddleRendering/pprndr/models/fields/ref_nerf_field.py
  contrib/PaddleRendering/pprndr/models/fields/tensorf_field.py
  contrib/PaddleRendering/pprndr/models/instant_ngp/instant_ngp.py
  contrib/PaddleRendering/pprndr/models/layers/__init__.py
  contrib/PaddleRendering/pprndr/models/layers/mlps.py
  contrib/PaddleRendering/pprndr/models/layers/weight_initializers.py
  contrib/PaddleRendering/pprndr/models/mip_nerf/mip_nerf.py
  contrib/PaddleRendering/pprndr/models/nerf/nerf.py
  contrib/PaddleRendering/pprndr/models/neus/neus.py
  contrib/PaddleRendering/pprndr/models/plenoxels/plenoxels.py
  contrib/PaddleRendering/pprndr/models/ray_samplers/spaced_samplers.py
  contrib/PaddleRendering/pprndr/models/ref_nerf/ref_nerf.py
  contrib/PaddleRendering/pprndr/optimizers/lr_schedulers.py
  contrib/PaddleRendering/pprndr/ray_marching.py
  contrib/PaddleRendering/requirements.txt
  contrib/PaddleRendering/tools/evaluate.py
Due: yapf, flake8

add gupnet implementation
  .gitignore
  configs/gupnet/gupnet_dla34_kitti.yml
  paddle3d/datasets/__init__.py
  paddle3d/datasets/kitti/__init__.py
  paddle3d/datasets/kitti/kitti_gupnet.py
  paddle3d/datasets/kitti/kitti_gupnet_utils.py
  paddle3d/models/detection/gupnet/__init__.py
  paddle3d/models/detection/gupnet/gup_scheduler.py
  paddle3d/models/detection/gupnet/gup_trainer.py
  paddle3d/models/detection/gupnet/gupnet.py
  paddle3d/models/detection/gupnet/gupnet_dla.py
  paddle3d/models/detection/gupnet/gupnet_helper.py
  paddle3d/models/detection/gupnet/gupnet_loss.py
  paddle3d/models/detection/gupnet/gupnet_predictor.py
  paddle3d_gupnet_train.py
  paddle3d_gupnet_val.py
Due: yapf, flake8

fix code style
  .gitignore
  configs/gupnet/gupnet_dla34_kitti.yml
  paddle3d/datasets/kitti/kitti_gupnet.py
  paddle3d/datasets/kitti/kitti_gupnet_utils.py
  paddle3d/models/detection/gupnet/__init__.py
  paddle3d/models/detection/gupnet/gup_trainer.py
  paddle3d/models/detection/gupnet/gupnet_dla.py
  paddle3d/models/detection/gupnet/gupnet_helper.py
  paddle3d/models/detection/gupnet/gupnet_loss.py
  paddle3d/models/detection/gupnet/gupnet_predictor.py
  paddle3d_gupnet_train.py
  paddle3d_gupnet_val.py
Due: yapf, flake8

fix kitti_gupnet* code style
  paddle3d/datasets/kitti/kitti_gupnet.py
  paddle3d/datasets/kitti/kitti_gupnet_utils.py
Due: yapf, flake8

fix kitti_gupnet.py code style
  paddle3d/datasets/kitti/kitti_gupnet.py
Due: yapf, flake8

fix code style with yapf-0.26.0
  paddle3d/models/detection/gupnet/gupnet.py
  paddle3d/models/detection/gupnet/gupnet_dla.py
  paddle3d/models/detection/gupnet/gupnet_helper.py
  paddle3d/models/detection/gupnet/gupnet_loss.py
  paddle3d/models/detection/gupnet/gupnet_predictor.py
  paddle3d/models/detection/gupnet/gupnet_scheduler.py
  paddle3d/models/detection/gupnet/gupnet_trainer.py
  paddle3d_gupnet_train.py
  paddle3d_gupnet_val.py
Due: yapf, flake8

fix code style
  paddle3d/datasets/kitti/kitti_gupnet.py
  paddle3d/datasets/kitti/kitti_gupnet_utils.py
  paddle3d/models/detection/gupnet/gupnet.py
  paddle3d/models/detection/gupnet/gupnet_dla.py
  paddle3d/models/detection/gupnet/gupnet_helper.py
  paddle3d/models/detection/gupnet/gupnet_loss.py
  paddle3d/models/detection/gupnet/gupnet_predictor.py
  paddle3d/models/detection/gupnet/gupnet_scheduler.py
  paddle3d/models/detection/gupnet/gupnet_trainer.py
  paddle3d_gupnet_train.py
  paddle3d_gupnet_val.py
Due: yapf, flake8

fix bug
  configs/gupnet/gupnet_dla34_kitti.yml
  paddle3d/datasets/kitti/kitti_gupnet_utils.py
Due: yapf, flake8

fix code style
  paddle3d/datasets/kitti/kitti_gupnet_utils.py
Due: yapf, flake8

fix bug
  paddle3d/datasets/kitti/kitti_utils.py
  paddle3d/models/detection/gupnet/gupnet_trainer.py
  paddle3d_gupnet_train.py
  paddle3d_gupnet_val.py
Due: yapf, flake8

add_bevformer_qat
  paddle3d/models/detection/bevformer/bevformer.py
Due: yapf, flake8

add bevformer dy_qat
  configs/quant/bevformer.yml
  configs/quant/bevformer_PACT.yml
  paddle3d/models/detection/bevformer/bevformer.py
Due: yapf, flake8

add bevformer dy_qat (#335)
  configs/quant/bevformer.yml
  configs/quant/bevformer_PACT.yml
  paddle3d/models/detection/bevformer/bevformer.py
Due: yapf, flake8

clean code
  configs/rtebev/rtebev_r50_nuscenes_256x704_msdepth_hybird_1f_cgbs.yml
  configs/rtebev/rtebev_r50_nuscenes_256x704_msdepth_hybird_4f_cgbs.yml
  configs/rtebev/rtebev_r50_nuscenes_256x704_msdepth_hybird_8f_cgbs.yml
  configs/rtebev/rtebev_r50_nuscenes_256x704_msdepth_hybird_cgbs.yml
Due: none

fix model ema save
  paddle3d/apis/config.py
  paddle3d/apis/trainer.py
  paddle3d/utils/ema.py
Due: yapf, flake8

add rtebev (#336)
  configs/rtebev/rtebev_r50_nuscenes_256x704_msdepth_hybird_1f_cgbs.yml
  configs/rtebev/rtebev_r50_nuscenes_256x704_msdepth_hybird_4f_cgbs.yml
  configs/rtebev/rtebev_r50_nuscenes_256x704_msdepth_hybird_cgbs.yml
  paddle3d/apis/config.py
  paddle3d/apis/trainer.py
  paddle3d/datasets/nuscenes/bevdet_nuscenes_dataset.py
  paddle3d/models/detection/__init__.py
  paddle3d/models/detection/rtebev/__init__.py
  paddle3d/models/detection/rtebev/rtebev.py
  paddle3d/models/detection/rtebev/rtebev_head.py
  paddle3d/models/layers/layer_libs.py
  paddle3d/models/necks/custom_fpn.py
  paddle3d/models/transformers/bevdet_transformer.py
  paddle3d/models/transformers/decoder_layers.py
  paddle3d/models/transformers/encoder_layers.py
  paddle3d/models/transformers/transformer.py
  paddle3d/utils/ema.py
Due: yapf, flake8

add rtebev infer
  deploy/rtebev/python/infer_mf_onnxtrt.py
  deploy/rtebev/python/infer_mf_paddletrt.py
  deploy/rtebev/python/infer_onnxtrt.py
  deploy/rtebev/python/infer_paddletrt.py
  deploy/rtebev/python/plugin_ops/CMakeLists.txt
  deploy/rtebev/python/plugin_ops/common/common_cuda_helper.hpp
  deploy/rtebev/python/plugin_ops/common/trt_plugin_base.hpp
  deploy/rtebev/python/plugin_ops/common/trt_plugin_helper.hpp
  deploy/rtebev/python/plugin_ops/common/trt_serialize.hpp
  deploy/rtebev/python/plugin_ops/cudaComputeVersion.cu
  deploy/rtebev/python/plugin_ops/install.sh
  deploy/rtebev/python/plugin_ops/plugin/bevpoolv2/trt_bev_pool.cpp
  deploy/rtebev/python/plugin_ops/plugin/bevpoolv2/trt_bev_pool.hpp
  deploy/rtebev/python/plugin_ops/plugin/bevpoolv2/trt_bev_pool_kernel.cu
  deploy/rtebev/python/plugin_ops/plugin/bevpoolv2/trt_bev_pool_kernel.hpp
  docs/models/rtebev/README.md
  paddle3d/models/detection/rtebev/rtebev.py
  paddle3d/models/transformers/bevdet_transformer.py
  paddle3d/ops/bev_pool_v2/bev_pool.cc
  paddle3d/ops/bev_pool_v2_backward/bev_pool_bkwd.cc
Due: yapf, flake8, clang-format-with-version-check

add quant readme
  configs/quant/README.md
Due: none

add
  configs/quant/README.md
Due: none

clean code
  configs/rtebev/rtebev_r50_nuscenes_256x704_msdepth_hybird_1f_cgbs.yml
  configs/rtebev/rtebev_r50_nuscenes_256x704_msdepth_hybird_4f_cgbs.yml
  configs/rtebev/rtebev_r50_nuscenes_256x704_msdepth_hybird_cgbs.yml
  docs/models/rtebev/README.md
  paddle3d/models/detection/rtebev/rtebev.py
  paddle3d/models/transformers/bevdet_transformer.py
Due: yapf, flake8

Create radial_n_tangential_undistort
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort
Due: none

Delete radial_n_tangential_undistort
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort
Due: none

radial_n_tangential_undistort
  contrib/PaddleRendering/pprndr/cpp_extensions/setup.py
  contrib/PaddleRendering/pprndr/cpp_extensions/undistGPU.cpp
  contrib/PaddleRendering/pprndr/cpp_extensions/undistGPU.cu
Due: yapf, flake8, clang-format-with-version-check
