Repository PaddlePaddle/Paddle3D: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, flake8, clang-format-with-version-check

yapf:
  name: yapf
  entry: yapf --style .style.yapf -i
  language: system

flake8:
  name: flake8
  entry: flake8 --count --select=E9,F63,F7,F82 --show-source --statistics
  language: system

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat
  entry: bash .clang_format.hook  -style=Google -i
  language: system

Update undist_cpu.cc
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/src/undist_cpu.cc
Due: clang-format-with-version-check

Update undist_gpu.cc
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/src/undist_gpu.cc
Due: clang-format-with-version-check

Update undist_gpu.cu
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/src/undist_gpu.cu
Due: clang-format-with-version-check

add ultra config
  configs/centerpoint/centerpoint_pillars_02voxel_nuscenes_10sweep_ampO2_ultra.yml
  configs/centerpoint/centerpoint_pillars_02voxel_nuscenes_10sweep_fp32_ultra.yml
  configs/petr/petr_vovnet_gridmask_p4_800x320_ampO2_ultra.yml
  configs/petr/petr_vovnet_gridmask_p4_800x320_fp32_ultra.yml
  configs/petr/petrv2_vovnet_gridmask_p4_800x320_dn_centerview.yml
  test_tipc/configs/centerpoint/centerpoint_pillars_016voxel_kitti_train_infer_python.txt
  test_tipc/configs/centerpoint/centerpoint_pillars_02voxel_nuscenes_10sweep_ampO2_ultra_train_infer_python.txt
  test_tipc/configs/centerpoint/centerpoint_pillars_02voxel_nuscenes_10sweep_fp32_ultra_train_infer_python.txt
  test_tipc/configs/petrv1/petr_vovnet_gridmask_p4_800x320_ampO2_ultra_train_infer_python.txt
  test_tipc/configs/petrv1/petr_vovnet_gridmask_p4_800x320_fp32_ultra_train_infer_python.txt
  test_tipc/configs/petrv2/petrv2_vovnet_gridmask_p4_800x320_dn_centerview_train_infer_python.txt
  test_tipc/configs/petrv2/petrv2_vovnet_gridmask_p4_800x320_train_infer_python.txt
Due: none

use tempfile to create temp dir
  paddle3d/datasets/nuscenes/bevdet_nuscene_metrics.py
Due: yapf, flake8

add benchmark 2q
  configs/caddn/caddn_ocrnet_hrnet_w18_kitti.yml
  test_tipc/configs/caddn/caddn_ocrnet_hrnet_w18_kitti_train_infer_python.txt
Due: none

benchmark_2q
  paddle3d/models/voxelizers/voxelize.py
Due: yapf, flake8

benchmark_2q
  configs/centerpoint/centerpoint_pillars_02voxel_nuscenes_10sweep_ampO2_ultra.yml
  configs/centerpoint/centerpoint_pillars_02voxel_nuscenes_10sweep_fp32_ultra.yml
  test_tipc/configs/centerpoint/centerpoint_pillars_02voxel_nuscenes_10sweep_ampO2_ultra_train_infer_python.txt
  test_tipc/configs/centerpoint/centerpoint_pillars_02voxel_nuscenes_10sweep_fp32_ultra_train_infer_python.txt
Due: none

benchmark_2q
  test_tipc/scripts/analysis.py
  test_tipc/test_train_inference_python.sh
Due: yapf, flake8

Delete contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort directory
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/setup.py
Due: yapf, flake8

add c++ radial_n_tangential_undistort
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/setup.py
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/src/undist_cpu.cc
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/src/undist_gpu.cc
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/src/undist_gpu.cu
Due: yapf, flake8, clang-format-with-version-check

fix rtebev readme
  docs/models/rtebev/README.md
Due: none

add c++ radial_n_tangential_undistort
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/src/undist_cpu.cc
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/src/undist_gpu.cc
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/src/undist_gpu.cu
Due: clang-format-with-version-check

add c++ radial_n_tangential_undistort
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/setup.py
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/src/undist.cc
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/src/undist.cu
Due: yapf, flake8, clang-format-with-version-check

Delete undist_gpu.cu
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/src/undist_gpu.cu
Due: clang-format-with-version-check

Delete undist_cpu.cc
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/src/undist_cpu.cc
Due: clang-format-with-version-check

Delete undist_gpu.cc
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/src/undist_gpu.cc
Due: clang-format-with-version-check

add c++ radial_n_tangential_undistort
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/setup.py
Due: yapf, flake8

fix rtebev readme (#352)
  docs/models/rtebev/README.md
Due: none

use tempfile to create temp dir (#348)
  paddle3d/datasets/nuscenes/bevdet_nuscene_metrics.py
Due: yapf, flake8

Radial n tangential undistort (#346)
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/setup.py
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/src/undist.cc
  contrib/PaddleRendering/pprndr/cpp_extensions/radial_n_tangential_undistort/src/undist.cu
Due: yapf, flake8, clang-format-with-version-check

modify checkpoints
  paddle3d/apis/trainer.py
Due: yapf, flake8

Delete .gitignore
  .gitignore
Due: none

fix gitignore
  .gitignore
Due: none

fix gupnet code
  configs/gupnet/gupnet_dla34_kitti.yml
  paddle3d/datasets/kitti/kitti_gupnet.py
  paddle3d/datasets/kitti/kitti_gupnet_utils.py
  paddle3d/models/detection/gupnet/gupnet.py
  paddle3d/models/detection/gupnet/gupnet_dla.py
  paddle3d/models/detection/gupnet/gupnet_helper.py
  paddle3d/models/detection/gupnet/gupnet_loss.py
  paddle3d/models/detection/gupnet/gupnet_predictor.py
  paddle3d/models/detection/gupnet/gupnet_processor.py
  paddle3d/models/detection/gupnet/gupnet_scheduler.py
  paddle3d/models/detection/gupnet/gupnet_trainer.py
  paddle3d/models/optimizers/lr_schedulers.py
  paddle3d_gupnet_train.py
  paddle3d_gupnet_val.py
Due: yapf, flake8

fix paddle3d/models/detection/__init__.py
  paddle3d/models/detection/__init__.py
Due: yapf, flake8

add gupnet
  paddle3d/models/detection/__init__.py
Due: yapf, flake8

Add files via upload
  CLC-myclc/CLC-myclc/README.md
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/CMakeLists.txt
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/README.md
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/action/RunOptimise.action
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/cfg/bounds.cfg
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/cfg/camera_info.yaml
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/cfg/camera_info_fisheye.yaml
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/cfg/params.yaml
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/cmake/FindEigen.cmake
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/include/cam_lidar_calibration/feature_extractor.h
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/include/cam_lidar_calibration/load_params.h
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/include/cam_lidar_calibration/openga.h
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/include/cam_lidar_calibration/optimiser.h
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/include/cam_lidar_calibration/point_xyzir.h
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/launch/assess_results.launch
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/launch/run_optimiser.launch
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/nodelet_definition.xml
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/package.xml
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/plugin_description.xml
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/rviz/cam_lidar_calibration.rviz
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/rviz/projection.rviz
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/scripts/visualise_results.py
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/src/assess_calibration.cpp
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/src/cam_lidar_panel.cpp
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/src/cam_lidar_panel.h
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/src/feature_extraction_node.cpp
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/src/feature_extractor.cpp
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/src/input_sample.cpp
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/src/load_params.cpp
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/src/optimiser.cpp
  CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/srv/Optimise.srv
  CLC-myclc/CLC-myclc/clc/readme.md
Due: yapf, flake8, clang-format-with-version-check

Add files via upload
  tools/CLC-myclc/CLC-myclc/README.md
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/CMakeLists.txt
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/README.md
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/action/RunOptimise.action
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/cfg/bounds.cfg
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/cfg/camera_info.yaml
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/cfg/camera_info_fisheye.yaml
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/cfg/params.yaml
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/cmake/FindEigen.cmake
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/include/cam_lidar_calibration/feature_extractor.h
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/include/cam_lidar_calibration/load_params.h
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/include/cam_lidar_calibration/openga.h
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/include/cam_lidar_calibration/optimiser.h
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/include/cam_lidar_calibration/point_xyzir.h
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/launch/assess_results.launch
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/launch/run_optimiser.launch
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/nodelet_definition.xml
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/package.xml
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/plugin_description.xml
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/rviz/cam_lidar_calibration.rviz
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/rviz/projection.rviz
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/scripts/visualise_results.py
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/src/assess_calibration.cpp
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/src/cam_lidar_panel.cpp
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/src/cam_lidar_panel.h
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/src/feature_extraction_node.cpp
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/src/feature_extractor.cpp
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/src/input_sample.cpp
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/src/load_params.cpp
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/src/optimiser.cpp
  tools/CLC-myclc/CLC-myclc/clc/cam_lidar_calibration/srv/Optimise.srv
  tools/CLC-myclc/CLC-myclc/clc/readme.md
Due: yapf, flake8, clang-format-with-version-check

Add files via upload
  tools/calibration/README.md
  tools/calibration/cam_lidar_calibration/CMakeLists.txt
  tools/calibration/cam_lidar_calibration/README.md
  tools/calibration/cam_lidar_calibration/action/RunOptimise.action
  tools/calibration/cam_lidar_calibration/cfg/bounds.cfg
  tools/calibration/cam_lidar_calibration/cfg/camera_info.yaml
  tools/calibration/cam_lidar_calibration/cfg/camera_info_fisheye.yaml
  tools/calibration/cam_lidar_calibration/cfg/params.yaml
  tools/calibration/cam_lidar_calibration/cmake/FindEigen.cmake
  tools/calibration/cam_lidar_calibration/include/cam_lidar_calibration/feature_extractor.h
  tools/calibration/cam_lidar_calibration/include/cam_lidar_calibration/load_params.h
  tools/calibration/cam_lidar_calibration/include/cam_lidar_calibration/openga.h
  tools/calibration/cam_lidar_calibration/include/cam_lidar_calibration/optimiser.h
  tools/calibration/cam_lidar_calibration/include/cam_lidar_calibration/point_xyzir.h
  tools/calibration/cam_lidar_calibration/launch/assess_results.launch
  tools/calibration/cam_lidar_calibration/launch/run_optimiser.launch
  tools/calibration/cam_lidar_calibration/nodelet_definition.xml
  tools/calibration/cam_lidar_calibration/package.xml
  tools/calibration/cam_lidar_calibration/plugin_description.xml
  tools/calibration/cam_lidar_calibration/rviz/cam_lidar_calibration.rviz
  tools/calibration/cam_lidar_calibration/rviz/projection.rviz
  tools/calibration/cam_lidar_calibration/scripts/visualise_results.py
  tools/calibration/cam_lidar_calibration/src/assess_calibration.cpp
  tools/calibration/cam_lidar_calibration/src/cam_lidar_panel.cpp
  tools/calibration/cam_lidar_calibration/src/cam_lidar_panel.h
  tools/calibration/cam_lidar_calibration/src/feature_extraction_node.cpp
  tools/calibration/cam_lidar_calibration/src/feature_extractor.cpp
  tools/calibration/cam_lidar_calibration/src/input_sample.cpp
  tools/calibration/cam_lidar_calibration/src/load_params.cpp
  tools/calibration/cam_lidar_calibration/src/optimiser.cpp
  tools/calibration/cam_lidar_calibration/srv/Optimise.srv
Due: yapf, flake8, clang-format-with-version-check

pp3d
  demo/readme.md
  demo/visualization_demo/bev_vis_multi_frame_demo.py
  demo/visualization_demo/bev_vis_single_frame_demo.py
  demo/visualization_demo/dataset_vis_demo.py
  demo/visualization_demo/img/bev.png
  demo/visualization_demo/img/mono.jpg
  demo/visualization_demo/img/pc.png
  demo/visualization_demo/mono_vis_multi_frame_demo.py
  demo/visualization_demo/mono_vis_single_frame_demo.py
  demo/visualization_demo/pcd_vis_multi_frame_demo.py
  demo/visualization_demo/pcd_vis_single_frame_demo.py
  demo/visualization_demo/readme.md
  demo/visualization_demo/vis_utils.py
  docs/visualization/visualization_cn.md
  docs/visualization/visualization_en.md
  requirements.txt
Due: yapf, flake8

requ
  requirements.txt
Due: none

add_prepare
  test_tipc/prepare.sh
Due: none

modify codestyle
  paddle3d/apis/trainer.py
  test_tipc/scripts/analysis.py
Due: yapf, flake8

[WIP]add ultra config (#347)
  configs/caddn/caddn_ocrnet_hrnet_w18_kitti.yml
  configs/centerpoint/centerpoint_pillars_02voxel_nuscenes_10sweep_ampO2_ultra.yml
  configs/centerpoint/centerpoint_pillars_02voxel_nuscenes_10sweep_fp32_ultra.yml
  configs/petr/petr_vovnet_gridmask_p4_800x320_ampO2_ultra.yml
  configs/petr/petr_vovnet_gridmask_p4_800x320_fp32_ultra.yml
  configs/petr/petrv2_vovnet_gridmask_p4_800x320_dn_centerview.yml
  paddle3d/apis/trainer.py
  paddle3d/models/voxelizers/voxelize.py
  test_tipc/configs/caddn/caddn_ocrnet_hrnet_w18_kitti_train_infer_python.txt
  test_tipc/configs/centerpoint/centerpoint_pillars_016voxel_kitti_train_infer_python.txt
  test_tipc/configs/centerpoint/centerpoint_pillars_02voxel_nuscenes_10sweep_ampO2_ultra_train_infer_python.txt
  test_tipc/configs/centerpoint/centerpoint_pillars_02voxel_nuscenes_10sweep_fp32_ultra_train_infer_python.txt
  test_tipc/configs/petrv1/petr_vovnet_gridmask_p4_800x320_ampO2_ultra_train_infer_python.txt
  test_tipc/configs/petrv1/petr_vovnet_gridmask_p4_800x320_fp32_ultra_train_infer_python.txt
  test_tipc/configs/petrv2/petrv2_vovnet_gridmask_p4_800x320_dn_centerview_train_infer_python.txt
  test_tipc/configs/petrv2/petrv2_vovnet_gridmask_p4_800x320_train_infer_python.txt
  test_tipc/prepare.sh
  test_tipc/test_train_inference_python.sh
Due: yapf, flake8

fix caddn train bug
  paddle3d/datasets/kitti/kitti_depth_det.py
  paddle3d/models/heads/dense_heads/anchor_head.py
Due: yapf, flake8

fix train bug
  paddle3d/apis/pipeline.py
  paddle3d/models/detection/bevfusion/bevf_transforms.py
  paddle3d/models/transformers/transformer.py
  paddle3d/transforms/bevdet_reader.py
Due: yapf, flake8

del coord_type
  configs/bevdet/bevdet4d_r50_depth_nuscenes.yml
  configs/rtebev/rtebev_r50_nuscenes_256x704_msdepth_hybird_1f_cgbs.yml
  configs/rtebev/rtebev_r50_nuscenes_256x704_msdepth_hybird_4f_cgbs.yml
  configs/rtebev/rtebev_r50_nuscenes_256x704_msdepth_hybird_cgbs.yml
  paddle3d/datasets/nuscenes/bevdet_nuscenes_dataset.py
  paddle3d/models/detection/bevfusion/bevf_transforms.py
Due: yapf, flake8

Fix bug (#358)
  configs/bevdet/bevdet4d_r50_depth_nuscenes.yml
  configs/rtebev/rtebev_r50_nuscenes_256x704_msdepth_hybird_1f_cgbs.yml
  configs/rtebev/rtebev_r50_nuscenes_256x704_msdepth_hybird_4f_cgbs.yml
  configs/rtebev/rtebev_r50_nuscenes_256x704_msdepth_hybird_cgbs.yml
  paddle3d/apis/pipeline.py
  paddle3d/datasets/kitti/kitti_depth_det.py
  paddle3d/datasets/nuscenes/bevdet_nuscenes_dataset.py
  paddle3d/models/detection/bevfusion/bevf_transforms.py
  paddle3d/models/heads/dense_heads/anchor_head.py
  paddle3d/models/transformers/transformer.py
  paddle3d/transforms/bevdet_reader.py
Due: yapf, flake8

Path conditions:
  yapf: any of: \.py$
  flake8: any of: \.py$
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|cuh|proto)$
